* {
  margin: 3px 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(236, 153, 31);
  color: white;
  overflow-x: hidden;
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.appetizers {
  display: flex;
  flex-direction: column;
}
.appetizers h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.appetizers ul li {
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  margin-bottom: 20px;
}
.appetizers ul li strong {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appetizers ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mains {
  display: flex;
  flex-direction: column;
}
.mains h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.mains ul li {
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  margin-bottom: 20px;
}
.mains ul li strong {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mains ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mains {
  display: flex;
  flex-direction: column;
}
.desserts h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.desserts ul li {
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  margin-bottom: 20px;
}
.desserts ul li strong {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desserts ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #333;
  padding: 0 20px;
  font-weight: lighter;
  font-size: medium;
}
footer a {
  color: white;
  font-size: medium;
}
